/*
! Blog - Search bar | EJ
*/
/* Styles au hover */
.header_v3_blog-field:hover {
  box-shadow: 0px 0px 0px 1px rgba(204, 94, 86, 0.5); /* Box shadow au hover */
}

.header_v3_blog-field:hover::placeholder {
  color: #9d362f; /* Couleur du placeholder au hover */
}

/* Styles au focus */
.header_v3_blog-field:focus {
  box-shadow: 0px 0px 0px 2px rgba(204, 94, 86, 0.5); /* Box shadow au focus */
}

.header_v3_blog-field:focus::placeholder {
  color: #cc5e56; /* Couleur du placeholder au focus */
}

/* Style pour le placeholder avec un poids de 500 */
.header_v3_blog-field.placeholder-active {
  font-weight: 500; /* Poids de police modifié lorsque l'utilisateur saisit */
}

/* 
! BLOG - MEDIA QUERY | EJ
*/
@media (min-width: 991px) and (max-width: 1280px) {
  .ressources_big-card.is-blog {
    width: 20rem;
    height: 31.62rem;
  }
  .ressources_bc-top-row {
    height: 16.875rem;
  }
  .blog_a-la-une_cards-container {
    flex-direction: row;
    justify-content: left;
  }
  .blog_a-la-une_right-col {
    flex-direction: row;
    flex-flow: row;
  }
  .blog_a-la-une_item {
    width: 100%;
  }

  /* BLOG => 2nd part */
  .blog_last-posts_collections-wrapper {
    flex-direction: column;
  }
  .blog_last-posts_right-col {
    width: 100%;
  }
  .blog_last-posts_selection-list {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

/* 
! HUB - MEDIA QUERY | EJ
*/

@media (max-width: 390px) {
  .hub_galerie_grid {
    grid-template-columns: 1fr; /* Une seule colonne */
    gap: 0 !important;
  }
}

@media (max-width: 1300px) and (min-width: 992px) {
  .hub_testimonial_grid {
    grid-template-columns: repeat(1, 1fr); /* 2 at 1 col */
  }
  .hub_guide_grid {
    grid-template-columns: repeat(2, 1fr) !important; /* 3 at 2 col */
  }
  .hp_blog_small-card.is-coop {
    width: 100% !important;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .hub_download_grid {
    grid-template-columns: repeat(3, 1fr); /* 4 at 3 col */
  }
}
