@import './utils/css/cardsTeam.css';
@import './utils/css/formInput.css';
@import './utils/css/map.css';
@import './utils/css/swiperChronologie.css';

/*
! Navbar
*/

@container (max-width: 82.5rem) {
  .nav_desktop {
    display: none;
  }
  .nav_mobile {
    display: block;
  }
}

.nav_link-wrapper.is-toggle.is-current {
  color: var(--text-color--text-brand);
}

.nav_dropdown:hover .nav_dropdown-icon-wrapper {
  transform: rotate(180deg);
}

.nav_link-wrapper.is-toggle.is-current {
  color: var(--text-color--text-brand);
}

/*
! Button
*/

.button.is-text:hover {
  color: var(--text-color--text-secondary);
}

.button.is-text:hover .icon-1x1-small {
  transform: translateX(0.25rem);
}

/*
! slider 
*/

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important; /* Désactive les flèches */
  margin: none !important;
}

/* swiper linear loop */
.swiper .swiper-wrapper {
  transition-timing-function: linear;
  margin: 0 !important;
}

/* swiper swiperProduitsAutres */
.produit_m-categorie_swiper-btn-next.swiper-button-disabled,
.produit_m-categorie_swiper-btn-prev.swiper-button-disabled {
  opacity: 0.1;
  pointer-events: none;
}

/* problème sur coop page - A VOIR */
.swiper-button-lock {
  display: block !important;
  display: flex !important;
  justify-content: center;
}

/* Coop hero slider pagination position */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 1rem !important;
  left: 50% !important;
}

/* Bullet Pagination Coopératives hero*/
.coop_hero_pagination .swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1;
}

.coop_hero_pagination .swiper-pagination-bullet-active {
  background-color: #42612d !important;
}

/*
! Catalogue
*/

/* Remove box-shadow bleu */
.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: none !important;
}

/*
! Quick fix
*/

.w-richtext em {
  background-color: red;
}

.fil-ariane_link w--current {
  color: var(--text-color--text-alternate) !important;
}

/*
! Terroir Small card | EJ
*/

@media (max-width: 1326px) and (min-width: 992px) {
  .hp_terroirs_small-card {
    width: 42.5rem;
  }
}
/*
! HomePage Testimonial | EJ
*/

.swiper.is-hp-testimonials {
  overflow: visible !important;
}
.swiper-slide.is-hp-testimonials {
  margin-right: 250px !important;
}

/*
! Blog - Search bar | EJ
*/
/* Styles au hover */
.header_v3_blog-field:hover {
  box-shadow: 0px 0px 0px 1px rgba(204, 94, 86, 0.5); /* Box shadow au hover */
}

.header_v3_blog-field:hover::placeholder {
  color: #9d362f; /* Couleur du placeholder au hover */
}

/* Styles au focus */
.header_v3_blog-field:focus {
  box-shadow: 0px 0px 0px 2px rgba(204, 94, 86, 0.5); /* Box shadow au focus */
}

.header_v3_blog-field:focus::placeholder {
  color: #cc5e56; /* Couleur du placeholder au focus */
}

/* Style pour le placeholder avec un poids de 500 */
.header_v3_blog-field.placeholder-active {
  font-weight: 500; /* Poids de police modifié lorsque l'utilisateur saisit */
}

/* 
! Header Responsive 
*/

@media (min-width: 2000px) {
  .section_header_v2 .header_v2_background-wrapper {
    margin-right: 25%;
  }
}
