@import './utils/css/cardsTeam.css';
@import './utils/css/formInput.css';
@import './utils/css/map.css';
@import './utils/css/swiperChronologie.css';
@import './utils/css/ressources.css';
@import './utils/css/home.css';
@import './utils/css/coop.css';

/*
! Navbar
*/

@container (max-width: 82.5rem) {
  .nav_desktop {
    display: none;
  }
  .nav_mobile {
    display: block;
  }
}

.nav_link-wrapper.is-toggle.is-current {
  color: var(--text-color--text-brand);
}

.nav_dropdown:hover .nav_dropdown-icon-wrapper {
  transform: rotate(180deg);
}

.nav_link-wrapper.is-toggle.is-current {
  color: var(--text-color--text-brand);
}

/*
! Button
*/

.button.is-text:hover {
  color: var(--text-color--text-secondary);
}

.button.is-text:hover .icon-1x1-small {
  transform: translateX(0.25rem);
}

/*
! slider 
*/

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important; /* Désactive les flèches */
  margin: none !important;
}

/* swiper linear loop */
.swiper .swiper-wrapper {
  transition-timing-function: linear;
  margin: 0 !important;
}

/* swiper swiperProduitsAutres */
.produit_m-categorie_swiper-btn-next.swiper-button-disabled,
.produit_m-categorie_swiper-btn-prev.swiper-button-disabled {
  opacity: 0.1;
  pointer-events: none;
}

/* problème sur coop page - A VOIR */
.swiper-button-lock {
  display: block !important;
  display: flex !important;
  justify-content: center;
}

/* Coop hero slider pagination position */
.coop_hero_pagination {
  display: flex;
  justify-content: center;
}

/* Bullet Pagination Coopératives hero*/
.coop_hero_pagination .swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1;
  border: #42612d 1px solid;
}

.coop_hero_pagination .swiper-pagination-bullet-active {
  background-color: #42612d !important;
  width: 1.25rem !important;
  height: 0.5rem !important;
  border-radius: 0.25rem;
  border: #42612d 1px solid;
}

/* Bullet Pagination Lasts Posts*/
.article_last-posts_pagination .swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1;
  border: #42612d 1px solid;
}

.article_last-posts_pagination .swiper-pagination-bullet-active {
  background-color: #42612d !important;
  width: 1.25rem !important;
  height: 0.5rem !important;
  border-radius: 0.25rem;
  border: #42612d 1px solid;
}
/*
! Catalogue
*/

/* Remove box-shadow bleu */
.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: none !important;
}

/*
! Quick fix
*/

.w-richtext em {
  background-color: red;
}

.fil-ariane_link w--current {
  color: var(--text-color--text-alternate) !important;
}

/* 
! Header Responsive 
*/

@media (min-width: 2000px) {
  .section_header_v2 .header_v2_background-wrapper {
    margin-right: 25%;
  }
}

.hp_testimonials_paragraph {
  display: -webkit-box; /* Utilisé pour créer un conteneur flexible */
  -webkit-box-orient: vertical; /* Définit l'orientation du conteneur */
  -webkit-line-clamp: 9; /* Limite le nombre de lignes visibles à 3 */
  overflow: hidden; /* Cache le texte qui dépasse */
  text-overflow: ellipsis; /* Ajoute des points de suspension (...) à la fin */
}
